
#getting-started {
    display: flex;
        justify-content: space-around;
        margin-top: 120px;
    

  div {
    background-color: blue;
      padding: 25px 0px;
      text-align: center;
      width: 120px;
      border-radius: 5px;

    span {
        font-size: 50px;
       display: block;
      color: #fff;

                    &:nth-child(2){
                         font-size: 30px;
                       }          
        
    }

  
  }
}
